<!DOCTYPE html>
<html lang="en">
	<!-- use more languages later in time -->

	<head>
		<meta charset="UTF-8" name="google-site-verification" content="vI_tHDrreJvwbEyy7CzHbUrVhhHQ4FeQG_V4nFMMHzs">
		<title>Team Crystal</title>
		<link rel="shortcut icon" href="/team-crystal.ch/html/images/Favicon.png">
		<link rel="stylesheet" href="css/template.css">
		<script src="javascript/template.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
	</head>

	<body id="body">
		<nav>
			<svg id="background" width="100%" height="120px">
				<rect width="100%" height="120px" />
			</svg>
			<svg id="dropdown" width="100" height="100">
				<circle cx="50" cy="50" r="50" fill="#9FE0DC" />
				<line x1="20" y1="35" x2="80" y2="35" stroke="white" stroke-width="8" stroke-linecap="round"
					id="dropdown_line_1" />
				<line x1="20" y1="50" x2="80" y2="50" stroke="white" stroke-width="8" stroke-linecap="round"
					id="dropdown_line_2" />
				<line x1="20" y1="65" x2="80" y2="65" stroke="white" stroke-width="8" stroke-linecap="round"
					id="dropdown_line_3" />
			</svg>
			<table id="selectionbar_mobile">
				<tr>
					<td class="linktree">
						<a href="http://team-crystal.ch/socialmedia"> Social Media</a>
						<!-- only from kanti crystal, not the members -->
					</td>
				</tr>

				<tr>
					<td class="linktree">
						<a href="http://team-crystal.ch/anime">Anime</a>
					</td>
				</tr>

				<tr>
					<td class="linktree">
						<a href="http://team-crystal.ch/player">Player</a>
						<!-- leads to a seperate selector -->
					</td>
				</tr>

				<tr>
					<td class="linktree">
						<a href="http://team-crystal.ch">Home</a>
					</td>
				</tr>

				<tr>
					<td class="linktree">
						<a href="http://team-crystal.ch/kpop">Kpop</a>
					</td>
				</tr>

			</table>
			<div id="selectionbar_desktop">
				<a id="desktop_home" href="http://team-crystal.ch">Home</a><a id="desktop_socialmedia"
					href="http://team-crystal.ch/socialmedia"> Social Media</a><a id="desktop_player"
					href="http://team-crystal.ch/player">Player</a><a id="desktop_kpop"
					href="http://team-crystal.ch/kpop">Kpop</a><a id="desktop_anime"
					href="http://team-crystal.ch/anime">Anime</a>

			</div>
		</nav>

		<aside>
			<img src="../images/template_image.png" alt="Minecraft Skin" id="player_picture">
		</aside>

		<article>
			<!-- <section id="lorem_ipsum">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel dolor vitae nisi dictum semper. Proin
				lobortis libero eros, in lacinia diam sodales finibus. Ut dui augue, convallis quis vulputate vitae,
				vestibulum id enim. Nullam dictum massa sed scelerisque porta. Etiam eget ornare orci. Cras auctor
				feugiat mauris eget iaculis. Aenean non augue in odio commodo tempus. Suspendisse ac ullamcorper massa,
				a gravida turpis. Duis tincidunt faucibus diam a molestie. Praesent volutpat diam id ante posuere
				semper. Fusce id dui viverra, ultrices mi non, molestie nisl. Proin eu mi tortor. Cras enim enim, porta
				et molestie eget, dignissim sed justo. Nam sem lorem, tempor sed justo a, facilisis commodo nibh. Nullam
				diam turpis, imperdiet vel egestas aliquet, finibus in eros. Nam eu tortor laoreet, fermentum leo non,
				tincidunt sapien. Mauris porta metus a dolor congue hendrerit. Vivamus diam nibh, ultrices eget rutrum
				at, accumsan id tortor. Nunc convallis magna eu lacus aliquam, eu pretium libero molestie. Maecenas sed
				cursus diam, et cursus magna. Phasellus placerat, augue et posuere euismod, risus magna pulvinar elit,
				sed vestibulum arcu eros sed enim. Suspendisse ullamcorper, augue vel laoreet venenatis, lectus ex
				sagittis ligula, quis lobortis orci purus at ex. Fusce ac tincidunt ex. Proin porta, velit gravida
				gravida blandit, neque ex feugiat lectus, eu ultrices est ante quis felis. Proin magna ex, pulvinar et
				tincidunt ut, vestibulum ut arcu. Nulla et iaculis tellus. Vestibulum lacus lacus, pulvinar ac
				sollicitudin quis, volutpat a ligula. Donec non vehicula arcu. Sed in arcu eget ligula venenatis
				faucibus ut id felis. Praesent sit amet semper purus. Quisque mollis lacinia lorem. Mauris lacinia arcu
				ac erat iaculis, et lobortis felis mattis. Proin in lacus ut felis rutrum scelerisque sed sit amet diam.
				Etiam aliquam gravida neque, sit amet tempus lectus luctus eget. Vestibulum tristique pretium ex. Nullam
				nunc velit, congue a ullamcorper id, tristique eget libero. Morbi vel enim mollis, consequat odio id,
				sollicitudin diam. Aliquam convallis ac velit eu fringilla. In ut dui euismod, semper sem nec, vulputate
				nibh. Cras vestibulum ipsum at sem tincidunt mattis. Cras tincidunt, nunc sed pretium auctor, nisl odio
				pulvinar mi, nec tempor sem elit et orci. Fusce vitae volutpat massa. Phasellus commodo volutpat lectus.
				Nam dapibus purus eu quam hendrerit, luctus rutrum elit rhoncus. Orci varius natoque penatibus et magnis
				dis parturient montes, nascetur ridiculus mus. Ut velit orci, vestibulum ac fringilla non, pellentesque
				in felis. Aenean pulvinar neque non elit faucibus, non vestibulum risus rutrum. Etiam nec eros a purus
				maximus auctor eu sit amet augue. Vestibulum venenatis lectus eu dui interdum, eu consectetur velit
				tempor. Morbi consectetur velit ante, non ultricies eros tristique vel. Nullam at cursus augue.
				Phasellus pellentesque dictum mi at aliquam. Donec nunc elit, aliquam sit amet fermentum eleifend,
				maximus id risus. Donec vitae elementum lectus, id placerat magna. Integer venenatis enim ut enim
				convallis dictum. Phasellus malesuada vehicula nisl at vestibulum. Mauris massa nisi, tempor non augue
				a, tristique viverra tellus. Aliquam dapibus pretium dolor eu efficitur. Nunc egestas felis ligula, eu
				condimentum lorem varius vitae. Etiam sed magna enim. Vestibulum ante ipsum primis in faucibus orci
				luctus et ultrices posuere cubilia Curae; Integer accumsan nisi vel justo malesuada, sed fermentum magna
				faucibus. Maecenas sit amet mattis ipsum. Cras ut dolor cursus, venenatis tellus nec, feugiat velit.
				Morbi vulputate nisi lacus, nec tincidunt orci ullamcorper ac. Integer at finibus turpis. Vivamus nec
				odio bibendum, pharetra ligula consectetur, molestie velit. Praesent nisi tortor, consequat eget velit
				id, rhoncus ullamcorper velit. In tempus nisi aliquam, placerat ante eu, ultrices nibh. Integer sodales
				dapibus lacus at mollis. Mauris volutpat ligula eget accumsan cursus. Nam nunc ligula, bibendum quis leo
				vel, maximus condimentum urna. Fusce pulvinar venenatis sodales. Pellentesque hendrerit nulla ac
				accumsan mollis. Aenean accumsan ultrices orci, eget hendrerit arcu scelerisque sed. Phasellus
				pellentesque, nunc ac pellentesque finibus, velit risus varius neque, sed convallis mi tellus a urna.
				Integer volutpat tellus nulla, ac vulputate urna sagittis at. Phasellus orci lorem, viverra sit amet
				ligula in, mattis lobortis orci. Duis at aliquet leo, sit amet eleifend erat. Maecenas condimentum velit
				ante. Praesent pulvinar pretium erat, ut placerat est interdum vitae. Integer vestibulum vulputate
				scelerisque. Fusce euismod sem purus, eu blandit risus dictum ac. Aenean rhoncus, neque id scelerisque
				interdum, est dolor congue ex, quis molestie ipsum nulla et ante. Praesent auctor nisl eget pretium
				tincidunt. In vel pretium libero. Curabitur tincidunt purus et nibh feugiat, nec sagittis velit
				ultricies. Sed non mauris vel libero mollis laoreet. Fusce molestie lacinia rhoncus. Phasellus sem
				tortor, mollis vitae maximus quis, maximus vitae nunc. Donec at accumsan felis. Phasellus imperdiet
				pellentesque commodo.
			</section> -->
			<section id="personal_info">
				<span id="username">
					xxx_pro_steve_xxx
				</span>
				<span id="real_name">
					<!-- Minecraft Steve -->
				</span>
				<!-- <img src="../images/birthday_cake.svg" id="birthday_cake" /> -->
				<!-- <span id="age"> -->
				<!-- </span> -->
			</section>

			<section id="games">
				<div id="minecraft">
				</div>
			</section>
		</article>
	</body>