.linktree a:link {
    color: whitesmoke;
    text-decoration: none;
}

.linktree a:visited {
    color: whitesmoke;
    text-decoration: none;
}

.linktree a:active {
    color: whitesmoke;
    text-decoration: none;
}

/*.linktree a:hover {
    color: whitesmoke;

} */

footer {
    position: relative;
    top: 120px;
    z-index: -2;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 120px;
    position: fixed;
    /* background-color: tomato; */
    z-index: 5;
}

#background rect {
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 4;
    fill: tomato;
}

#selectionbar {
    border-collapse: collapse;
    border-spacing: 0px 0px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    display: none;
    z-index: -1;
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    border-left: 0px;
    /* Idee wie gestalten von Abigail in Informatik Notizbuch */
}

.linktree {
    
    color: whitesmoke;
    background-color: rgb(43, 147, 189, 0.8);
    /* background: radial-gradient(circle,#2BB5BD,#15F4FF); */
    text-align: center;
    vertical-align: middle;
    max-height: 10%;
    min-height: 30px;
    height: 60px;
    cursor: pointer;
    min-width: 100px;
}

.linktree:hover {
    background-color: rgb(43, 147, 189);
}

#dropdown {
    top: 10px;
    position: fixed;
    left: 50%;
    margin-left: -50px;
    cursor: pointer;
    z-index: 5;
}

#test {
    position: relative;
    top: 120px;
    z-index: -2;
}