body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 120px;
    position: fixed;
    /* background-color: tomato; */
    z-index: 5;
}

#background rect {
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 4;
    fill: tomato;
}

#selectionbar {
    list-style-type: none;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    display: none;
    z-index: -1;
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px;
    /* Idee wie gestalten von Abigail in Informatik Notizbuch */
}

#dropdown {
    top: 10px;
    position: fixed;
    left: 50%;
    margin-left: -50px;
    cursor: pointer;
    z-index: 5;
}

#test {
    position: absolute;
    top: 120px;
    z-index: -2;
}