a:link {
    text-decoration: none;
    /* color: #293C42; */
    color: whitesmoke;
}

a:visited {
    text-decoration: none;
    /* color: #293C42; */
    color: whitesmoke;
}

a:active {
    text-decoration: none;
    /* color: #293C42; */
    color: whitesmoke;
}

.linktree a:link {
    color: whitesmoke;
}

.linktree a:visited {
    color: whitesmoke;
}

.linktree a:active {
    color: whitesmoke;
}

/*.linktree a:hover {
    color: whitesmoke;

} */

footer {
    position: relative;
    top: 120px;
    z-index: -2;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* white-space: nowrap; */
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 120px;
    position: fixed;
    /* background-color: tomato; */
    z-index: 5;
}

section {
    top: 120px;
    position: relative;
    width: min-content;
    display: inline-block;
    white-space: nowrap;
    padding: 1%;
    /* height: 100%; */
}

.player img {
    background-color: gainsboro;
    border-radius: 30%;
    padding: 0%;
    margin: 0%;
    /* height: 100%; */
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.player a span {
    position: absolute;
    color: black;
    font-size: x-large;
    left: 50%;
    /* bottom: 1%; */
    top: 50%;
    transform: translate(-50%, -50%);
}

.player a {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player:hover img {
    opacity: 0.3;
}

.player:hover a {
    opacity: 1;
}

#template {
    /* display: none; */
}

#background rect {
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 4;
    fill: tomato;
}

#selectionbar_mobile {
    border-collapse: collapse;
    border-spacing: 0px 0px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translate(-50%);
    display: none;
    z-index: -1;
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    border-left: 0px;
}

#selectionbar_desktop {
    z-index: -1;
    display: none;
    position: fixed;
    top: 120px;
    width: 100%;
    background-color: #008CB8;
}

#selectionbar_desktop a {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: xx-large;
}

.linktree {
    color: whitesmoke;
    background-color: rgb(43, 147, 189, 0.8);
    /* background: radial-gradient(circle,#2BB5BD,#15F4FF); */
    text-align: center;
    vertical-align: middle;
    max-height: 10%;
    min-height: 30px;
    height: 60px;
    cursor: pointer;
    min-width: 100px;
}

.linktree:hover {
    background-color: rgb(43, 147, 189);
}

#dropdown {
    top: 10px;
    position: fixed;
    left: 50%;
    margin-left: -50px;
    cursor: pointer;
    z-index: 5;
}